# /bin/sh

EDITOR=nvim
BROWSER=google-chrome-stable

picom &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
$HOME/.local/bin/scripts/lock-screen.sh &
# $HOME/.screenlayout/default.sh &
unclutter -idle 10 &

xbindkeys &
variety &
nm-applet &
blueberry-tray &
fcitx5 &
# xfce4-power-manager &
xfce4-clipman &
flameshot &
openrgb -p sakura &
autorandr --load vert
