#!/bin/sh

# Set environment variables
export EDITOR=nvim
export BROWSER=google-chrome-stable

function run {
    if ! pgrep $1 ;
    then
        $@ > /dev/null 2>&1 &
    fi
}

# gnome-polkit for authentication
run /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

# xrandr for monitor configuration
run $HOME/.screenlayout/2-monitor.sh
# run autorandr --load 3-monitor

# picom for compositor
run picom --config $HOME/.config/picom/picom.conf

# volumeicon for volume management
run volumeicon

# nm-applet for network management
run nm-applet

# fcitx5 for input method
run fcitx5

# xfce4-clipman for clipboard management
run xfce4-clipman
# run copyq --start-server

# blueman-applet for bluetooth management
# run blueman-applet
run blueberry-tray

# flameshot for screenshots
run flameshot

# variety for wallpaper management
run variety

# xidlehook for screen locking
run $HOME/.local/bin/scripts/lock-screen.sh

# unclutter for hiding mouse cursor when idle
run unclutter -idle 10

# xbindkeys for key bindings
run xbindkeys

# openrgb for RGB control
run openrgb -p sakura
